<div class="details-contrainer">
	<div class="row product-overview w-100 w-sm-none">
		<div class="col-lg-5 col-sm-12 product-image">
			<img src="{{productDetails.image}}" alt="">
		</div>
		<div class="col-lg-7 col-sm-12  p-4 p-lg-2 product-details">
			<div class="navigation">
				<i class="fa-solid fa-arrow-left me-2" routerLink="/product"></i>Back to Product Page
			</div>
			<div class="header">
				<p class="category mb-0">{{category}}</p>
				<h2>{{productDetails.title}}</h2>
				<div class="rating">
					<ngb-rating class="custom-rating" [max]="5" [rate]="productDetails.rating.rate" [disabled]="true"	></ngb-rating><span class="ms-3 me-1"><span>{{productDetails.rating.rate}}</span></span><span>({{productDetails.rating.count}} Review)</span>
				</div>
			</div>
			<div class="desc">
				<p class="mb-0">Product Summury</p>
				<p class="mb-0">{{productDetails.description}}</p>
			</div>
			
			<div class="color ">
				
				<p class="mb-0">Color</p>
				<div class="">
					<span style="--color:red"></span>
					<span style="--color:green"></span>
					<span style="--color:blue"></span>
					<span style="--color:white"></span>
					<span style="--color:orange"></span>
				</div>
			</div>
			<div class="price">
				<span>Price : </span>{{productDetails.price| currency}}
			</div>
			<div class="suggestion">
				<div class="suggestion_card" *ngFor="let categoryItem of categoryList" (click)="onSuggetion(categoryItem.id)">
					<div class="image mb-2">
						<img src="{{categoryItem.image}}" alt="">
					</div>
					<div class="desc">
						<h4>{{categoryItem.title}}</h4>
						<p>{{categoryItem.price | currency}}</p>
					</div>
					
				</div>
			</div>
		</div>
		
	</div>

</div>